// This file contains Prettier configuration settings for code formatting.
{
  "semi": true, // Add semicolons at the end of statements
  "singleQuote": false, // Use double quotes instead of single quotes
  "tabWidth": 2, // Set the number of spaces per indentation level
  "trailingComma": "es5", // Add trailing commas where valid in ES5
  "printWidth": 80, // Wrap lines that exceed 80 characters
  "bracketSpacing": true // Add spaces inside object literals
}